<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div id='map-canvas'>
	
</div>

<%= javascript_tag do %>
	Map.latitude = <%= @user.latitude.to_f %>;
	Map.longitude = <%= @user.longitude.to_f %>;
	Map.showMarkers = true;
<% end %>


<!-- -79.3870568 -->
<!-- 43.64225662 -->