<div class="bg-img">

	<%= image_tag 'http://www.twoyangs.com/wp-content/uploads/2011/05/world-map-pins.jpg' %>
	<div class=" row tag-container">
		<h1 id="tag-line" class="text-center">Map your followers</h1>

	</div>
</div>




	