<div class="bg-img">

	<%#= image_tag 'http://www.twoyangs.com/wp-content/uploads/2011/05/world-map-pins.jpg' %>

	<%= image_tag 'http://www.kgryte.com/blog/wp-content/uploads/2013/05/screenshot_3_720x403px.jpg'%>
	<div class=" row tag-container">
		<h1 id="tag-line" class="text-center">Map your followers</h1>

	</div>
</div>




	