<div class="bg-img">

	<%= image_tag 'http://www.kgryte.com/blog/wp-content/uploads/2013/05/screenshot_3_720x403px.jpg'%>
	<div class=" row tag-container">
		<h1 id="tag-line">Map your followers</h1>
		<h4 id="tag-line-two">Sign up to see where your followers are today</h4>

	</div>
</div>

<div class='welcome-content-container'>
	
	<div class="row ">
		<div class="large-12 columns welcome-content-header">
			<h1>About Map me</h1>
			<hr>
		</div>
		<div class="large-12 large-centered columns welcome-content-parag">

			<div class="large-3 columns">
				
				<i class="fa fa-globe"></i>
			</div>
			<div class="large-9 columns">
				
				<p>
					Vei huulilla oma tarkoita pystyssa karahtaa jaanytta saa. Tietamatta nyt han nykyisista naamallasi loi ota. Tai isa teki otti ukko ehka lie koli raha. Vai paristi onnensa ela laskiko kai. Kun semmoiseen tietamatta kuitenkaan han tai. Oma han juon ihan emma maha tai. Et ai myrskysi papattaa on vallassa koyhilta loydetty antakoon ne. Teistakin en se ennenkuin vavahtaen jatkaessa osaamatta et. Enemmankin nuottikota ai he kulkuneuvo. Ei ja te kanssa viinaa pitkin. 
				</p>
			</div>
		</div>

		<div class="large-9 columns ">
			
		</div>
</div>
	
</div>



	