.con-tainer-identities {
	height: 450px;
	margin-top: 20px;

}

.container-left-identities {
	margin-top: 50px;

	padding-bottom: 20px;
	margin-left: 20px;
	width:45%;
	text-align: right;
	/*border-right: 1px solid black;*/
	padding-right: 50px;
	float: left;
	

	height: 200px;

		a {
		font-family: ubuntu;
	}
}

.container-right-identities {

	/*padding-top: 12px;*/
	font-family: Inconsolata;
	border-left: 1px solid black;
	width:40%;
	text-align: left;
	float: left;
	height: 300px;
	padding-bottom: 30px;

}