.form-header {
	margin-top: 30px;
}

/*styling for the form and the */
.contact-container {
	width:90%;
	margin: 20px auto 0 ;
}

.container-left {
	width:45%;
	text-align: right;
	/*border-right: 1px solid #eee;*/
	padding-right: 50px;
	float: left;

	a {
		font-family: ubuntu;
	}
}

.container-right {
	padding-top: 12px;
	font-family: Inconsolata;
	border-left: 1px solid black;
	width:40%;
	text-align: left;
	float: left;
}
/*the code below deals with the left and right li*/
.contact-left {
	padding-top: 30px;
	padding-bottom: 25px;
	display: block;
	font-size: 20px;
}

.contact-right {
	padding-top: 30px;
	padding-bottom: 25px;
	display: block;
	font-size: 17px;
}


.clearfix {
		clear:both;
	}


	/*styling for the form */
.form-containers {
	margin-top: 80px;
	margin-bottom: 80px;
	border: 1px solid gray;
	border-radius: 5px;
}
/*	.site-forms {
		border: 1px solid gray;
	}*/

	.site-forms label{
		display: none;
}
	/*styling for the login and sign up button*/

	.save-button {
		background-color: silver;
		border-radius: 3px !important;
	}

	.save-button:hover {
		background-color: silver;

	}



